<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Meu CRUD Flask</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.css">
  <style>body{font-family:Inter,Arial;padding:20px;max-width:900px;margin:auto}</style>
</head>
<body>
  <h1><a href="{{ url_for('main.index') }}">Meu CRUD Flask</a></h1>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
      {% for category, msg in messages %}
        <li><strong>{{ category }}:</strong> {{ msg }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>
</html>
